/p-02-04-04/target/classes/ZdravoSvete.class
/p-02-04-04/target/maven-archiver/pom.properties
/p-02-04-04/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/p-02-04-04/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/p-02-04-04/target/myproject-0.0.1-SNAPSHOT.jar
/p-02-04-04/target/myproject-0.0.1-SNAPSHOT.jar.original
